venv
.env
.cache
*.pyc
migrations 
vagrant/.vagrant
vagrant/site.retry
vagrant/a4keypair.pem
.idea/
*.iml
*.DS_Store

token.txt
genius_token.txt
scrapers/.ipynb_checkpoints
scrapers/.cache-chriscc301916
scrapers/.ipynb_checkpoints/get_lyrics-checkpoint.ipynb
scrapers/.ipynb_checkpoints/get_lyrics-checkpoint.ipynb
scrapers/.ipynb_checkpoints/get_lyrics-checkpoint.ipynb
scrapers/.ipynb_checkpoints/get_lyrics-checkpoint.ipynb
.cache-chriscc301916
scrapers/.ipynb_checkpoints/get_lyrics-checkpoint.ipynb
