/* Overall */
.container {
  min-height: calc(100vh - 95px);
}


/* Tabs */
.tab {
  overflow: hidden;
}

.tab button {
  font-weight: bold;
  font-size: 14;
  color: #4d4d4d;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 32px;
  /* transition: 0.3s; */
}

.tab button.active {
  color: #0075FF;
  border-bottom: 3px solid #0075FF;
}

.tabcontent {
  display: none;
}


/* Form */

/* .heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .heading {
  display: inline-block;
  padding: 10;
} */

.heading-container img {
  padding-top: 20;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 50%;
}

.form {
  text-align: center;
}

.query {
  width: 100%;
}

.tab,
.query,
.adv-section {
  margin-bottom: 42;
}


/* Advanced search */
select {
  padding: 10 20 10 10;
  border-radius: 5;
  background-color: #f2f2f2;
  color: #4d4d4d;
  border: none;
  font-size: 16;
}

select:focus {
  outline: none;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table td {
  text-align: end;
}

.slider {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.af-slider {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.cta {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
}