/* Overall */
.container {
  min-height: calc(100vh - 100px);
}

footer {
  padding-bottom: 30;
}

.wave-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -20;
  margin-bottom: 20;
}

.wave-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding-top: 10px;
  font-size: 14px;
  letter-spacing: 0.3;

}


/* Tabs */
.tab {
  overflow: hidden;
}

.tab button {
  font-weight: bold;
  font-size: 14;
  color: #4d4d4d;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 32px;
}

.tab button.active {
  color: #0075FF;
  border-bottom: 3px solid #0075FF;
}

.tabcontent {
  display: none;
}


/* Form */
.heading-container img {
  padding-top: 20;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 50%;
}

.form {
  text-align: center;
}

.query {
  width: 100%;
}

.query {
  margin-top: 42;
}

.basic-cta {
  margin-top: 18;
}

/* Advanced search */
#lyr-label {
  display: inline-block;
  text-align: center;
  width: 80;
}

.adv-section input[type=number] {
  padding: 10px;
  margin-left: 5px;
  border-color: #a1a1a1;
  border-style: solid;
  border-radius: 5px;
}

.adv-section input[type=number]:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.adv-section {
  margin-top: 24;
  padding-left: 20;
}

.adv-section h4, .adv-section h3 {
  text-align: left;
  display: block;
}

.slider-container, .af-table {
  text-align: center;
}

#sliders1, #sliders2 {
  background-color: #f4f4f4;
  padding: 10px 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table td {
  text-align: end;
}

.slider {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.af-slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tooltip .tooltiptext {  
  /* Style in main.css */
  /* Position the tooltip: */
  position: absolute;
  z-index: 1;
  bottom: -20px;
  right: 105%;
}

.cta {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(40px);
}

.error {
  font-weight: normal;
  width: fit-content;
  margin: auto;
  margin-top: 20;
  margin-bottom: 20;
  background-color: rgba(163, 0, 0, 0.1);
  border: 1px solid rgb(163, 0, 0);
  color: rgb(163, 0, 0);
  padding: 10px;
}