/* Overall */
.flex-container {
  /* display: flex;
  min-height: 90vh;
  flex-direction: column; */
  min-height: calc(100vh - 95px);
}

/* Tabs */
.tab {
  overflow: hidden;
}

.tab button {
  font-weight: bold;
  color: #4d4d4d;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 32px;
  /* transition: 0.3s; */
}

.tab button.active {
  color: #0075FF;
  border-bottom: 3px solid #0075FF;
}

.tabcontent {
  display: none;
}


/* Form */
.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  width: 50%;
}

.form {
  text-align: center;
}

.query {
  width: 100%;
}

.tab,
.query,
.adv-section {
  margin-bottom: 32;
}

#lyr-label {
  width: 10px;
}

.slider {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.af-slider {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  text-align: center;
}

table td {
  text-align: end;
}