
/* Components */
footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  color: #a0a0a0;
}

.query {
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #E0E0E0;
  border-radius: 100px;
  transition: width 200ms;
}
.query:focus {
  outline: none;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 12;
  margin: auto;
  width: fit-content;
  font-size: 16;
}
.btn:hover {
  transition-duration: 300ms;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}

#btn-prim {
  color: #fff;
  background-color: #0075FF;
}
#btn-prim:hover {
  color: #fff;
  background-color: #0053b3;
}
#btn-sec {
  color: #4d4d4d;
  background-color: #f2f2f2;
}
#btn-sec:hover {
  color: #4d4d4d;
  background-color: #d3d3d3;
}


/* Text styles */
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32;
  margin: 12 0 12 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
  font-weight: normal;
  margin: 12 0 12 0;
  color: #696969
}

.label {
  letter-spacing: 0.03em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #888888;
  font-variant-caps: all-small-caps;
}
