/* Overall */
.container {
  margin: 100 100 0 100;
  min-height: calc(100vh - 200px);
}

/* Nav */
nav {
  padding: 14 0 0 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index:6;
  height: 92px;
  transition: height 200ms;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 110 0 110;
}

.nav-container a {
  text-decoration: none;
}

.nav-sides {
  position: relative;
  height: 72;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8;
}

.nav-sides img, .nav-sides a {
  display: inline-block;
  top: 80;
}

.nav-sides img {
  height: 50;
}

#nav-name {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f4f4f;
  font-size: 22;
  color: rgb(83, 83, 83);
  padding-left: 10;
}

#myInput {
  width: 400px;
  padding-right: 60px;
}

.input-container, .query {
  cursor: pointer;
}

#search-icon {
  visibility: visible;
  margin: 14 0 0 -50;
  padding: 8 9 8 9;
  background-color: #0075FF;
  color: white;
  border-radius: 100px;
  text-align: center;
  position: absolute;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

#requery-info {
  margin-left: 10;
}


/* Modal */
.modal {
  padding: 14px 22px;
  background: #FFFFFF;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 42;
  bottom: 0;
  z-index:2;
}

.modal form p {
  margin-bottom: 5px;
}

.modal form input[type=text] {
  padding: 10px;
  margin-bottom: 20px;
  border-color: #ececec;
  border-style: solid;
  border-radius: 5px;
}

.modal form input[type=text]:focus {
  outline: none;
}

.modal form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 6px;
  vertical-align: middle;
  cursor: pointer;
}

.modal form input[type=radio] {
  margin: 10px 0 10px 0;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.spotify-cta {
  text-align: center;
}

.spotify-cta .btn-prim {
  display: block;
  margin-top: 10;
}


/* Table */
table {
  margin: 32 0 64 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: calc(100% - 200px);
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 12 0 12 0;
}


.song-artist {
  color: #696969; 
  font-size: 14; 
  margin-top: 5;
}

.link {
  cursor: pointer;
}

.link:hover {
  transition-duration: 80ms;
  color: #0075FF;
  cursor: pointer;
}

th .tooltip .tooltiptext {  
  /* Style in main.css */
  /* Position the tooltip: */
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 0%;
}
.nav-sides .tooltip .tooltiptext {  
  /* Style in main.css */
  /* Position the tooltip: */
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 100%;
}

.thumbs {
  padding-left: 10px;
}

.thumbs[data-enabled="false"] {
  color: #dddddd;
}

.thumbs[data-enabled="true"] {
  color: #db498d;
}


/* Form */
/* .form {
  text-align: center;
  width: fit-content;
} */

.new-search .btn-tert {
  margin-top: 6px;
}

.new-search .btn-prim {
  margin-top: 30px;
}

.new-search .btn-prim, .new-search .btn-tert {
  display: none;
}

#tint{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.2);
  z-index:3;
  width:100%;
  height:100%;
  display:none;
}


/* Modes */
.heading {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading span {
  display: inline-block;
}

.resultsshow {
  display: block;
}

.resultshide {
  display: none;
}


/* Toggle */
.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle .label {
  padding-right: 20;
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
  margin-bottom: -47px; /* no idea why i need this :/ */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -22;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 26px;
  height: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0075FF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}