<!-- Todo: 
      - change input color
      - fix footer spacing
      - error messages (song not found, no empty inputs)
-->

<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>

  <div class="flex-container">

    <form action="results">
      <div class="flex-form">
        <h1 class="title"> simplay </h1>
        <input type="text" class="query" id="query" name="input_query" placeholder="Artist Name | Song Name">

        <label for="lyr" class="label"> Audio Similarity <--> Lyrical Similarity </label>
        <input type="range" name="lyrical_sim" min="0" max="100" value="50" class="slider" id="lyr">

        <button type="submit" class="btn" id="btn_sec"> Create my Playlist </button>
      </div>
    </form>

  </div>

  <footer>
    <span>Student Names:</span>
    {% for netid in netids %}
    <span>{{ netid }} </span>
    {% endfor %}
  </footer>

</body>

</html>

<!-- <form class="form-inline global-search">
      {% if data %}
      <h1>{{output_message}}</h1>
      {% for d in data %}
      <br>
      <p>{{d}}</p>
      {% endfor %}
      {% endif %}
    </form> -->